.panel--hawaii {
    background-image: url('../assets/images/hawaii.jpg');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    margin: 30px 0px 0px 0px;
    padding: 25px 75px 80px 75px;

}
.panel--iceland {
    background-image: url('../assets/images/iceland.jpg');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    margin: 30px 0px 0px 0px;
}
.panel--greece {
    background-image: url('../assets/images/greece.jpg');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    margin: 30px 0px 0px 0px;
}
.panel__header {
    font-size: 5rem;
    color: white;
    font-weight: 700;
    margin-top: 60px;
}
.card__info,
.card__header{
    color:black;
}
