/* general css */
* {
    margin: 0px;
    padding: 0px;
}
body {
    font-family: 'Verdana', 'Geneva', 'Tahoma', 'sans-serif';
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    display: block;
}

/* navbar css */
/* make space between the subtitles in the nav bar */
header {
    margin: 3% 10% 0% 10%;
}
.navbar {
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.navbar__left {
    margin-left: auto;
    text-align: right;
}
.navbar__item--list-item {
    padding-bottom: 4px;
    color: black;
}
.navbar__item--list {
    display: flex;
    justify-content: space-evenly;
    width: 300px;
}
.logo {
   color:#335576;
   font-weight: 700;
}

/* active page with underline */
li.active {
    border-bottom: 3px solid #DB7A4E;
}

/* container and cards  */
.card {
    display: inline-block;
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin: 20px;
    border-radius: 5px;
    width: 300px;
    height: 400px;
    text-align: center;
    padding-top: 20px;
    background-color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}
.container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

/* panel to make all the margins the same for each page */
.panel {
    padding:0% 10%;
    padding-top: 30px;
}
.panel__header {
    color: #335576;
}

/* footer for global */
.panel--footer {
    background-color: #FEFAF5;
    display: flex;
    justify-content:space-around;
    align-items: baseline;
    flex-wrap: wrap;
}
.footer__col {
    padding-bottom: 3%;
}
.footer__header {
    font-size: 1.25rem;
    color: #335576;
    margin-bottom: 25px;
}
.footer__subheader {
    font-size: 0.75rem;
    color: orange;
    text-transform: uppercase;
    margin-bottom: 15px;
}
.footer__divide {
    display: flex;
    align-items:baseline;
    justify-content: space-between;
}
.hours__col {
    margin-right: 30px;
}
.footer__divide img {
    height: 18px;
}
/* having problems with the soical area and it not lining up to the others */
.footer__divide--img {
    width: 150px;
}


