/* hero section */
.hero {
    display: flex;
    background-color: #FEFAF5;
    text-align: left;
    color: #335576;
    padding:0% 10%;
}
.hero__col {
    padding-top: 30px;
    min-width: 40%;
}
.hero__col img {
    width: 75%;   
}
.col--image {
    display: flex;
    align-items:center;
    justify-content:end;
}
.hero__col--button {
    background-color: #DB7A4E;
    border-radius: 20px;
    width: 175px;
    text-align: center;
    padding: 10px 0px;
    color: #FEFAF5;
}
.hero p {
    padding: 30px 0px;
}

/* cards for reccommendations */
.card--hawaii {
    background-image: url("../assets/Images/hawaii.jpg");
    background-size:cover;
}
.card--iceland {
    background-image: url("../assets/Images/iceland.jpg");
    background-size:cover;
}
.card--greece {
    background-image: url("../assets/Images/greece.jpg");
    background-size:cover;
}
.container__country {
    position: relative;
    top: 92%;
    left: 30%;
    color:white;
    font-weight: 700;
    font-size: 1.25rem;
}